---
layout: default
---

<div class="home">
<h2> Posts </h2>
<hr>
  <div id="container">
    {% for post in site.posts %}
      <div class="item">

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% assign foundImage = 0 %}
          {% assign images = post.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src' %}

                {% if foundImage == 0 %}
                    {% assign html = image | split:"/>" | first %}
                    <img {{ html }} />
                    {% assign foundImage = 1 %}
                {% endif %}
            {% endif %}
          {% endfor %}
          <h3 class="item-title">
            {{ post.title }}
          </h3>
          <p class="item-text">{{ post.content | strip_html | truncatewords: 30 }}</p>
          <div class="item-date post-meta tr margin10">{{ post.date | date: "%b %-d, %Y" }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="fl recent-post">
    <h3>Recientes</h3>
    <ul>  
    {% for post in site.posts limit:5 %}  
       <li>  
         <span>{{ post.date | date_to_string }}</span> &raquo;  
         <a href="{{ BASE_PATH }}{{ post.url }}">  
         {{ post.title }}</a>  
       </li>  
    {% endfor %}  
    </ul>
  </div>
</div>
