<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col col-md-6">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}"><strong>{{ site.email }}</strong></a></li>
          <li>{{ site.mobile }}</li>
        </ul>
      </div>

      <div class="footer-col col-md-6 tr">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-col  col-md-12">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
               <i class="fa fa-github fa-lg"></i>
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          {% endif %}
          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="icon  icon--github">
               <i class="fa fa-instagram fa-lg"></i>
              </span>

              <span class="username">{{ site.instagram_username }}</span>
            </a>
          {% endif %}
          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <i class="fa fa-twitter fa-lg"></i>
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          {% endif %}
      </div>
    </div>

  </div>

</footer>
